.auth-form {
  width: 25rem;
  max-width: 100%;
  margin: 5rem auto;

  background: rgb(201, 216, 223);
  border: 1px solid rgb(201, 216, 223);
  border-radius: 3px;
}

.auth-form .title {
  text-align: center;
}

.form-control label,
.form-control input {
  width: 90%;
  display: block;
  margin: 0.5rem;
}
.form-control input {
  height: 1rem;
  padding: 0.25rem;
  border-radius: 5px;
}
.form-control label {
  margin: 0.5rem;
}
.form-control {
  margin-bottom: 1rem;
}

.form-actions {
  display: flex;
  justify-content: space-around;
  margin: 0 0 1rem 0;
}

.form-actions button,
.btn {
  background: rgb(63, 191, 250);
  font: inherit;
  border: 1px solid rgb(63, 191, 250);
  border-radius: 3px;
  padding: 0.25rem 1rem;
  box-shadow: 1px 1px 1px 5px rgba(0, 0, 0, 0.151);
  color: white;
  cursor: pointer;
}

.form-actions button:hover,
.form-actions button:active {
  background: rgb(35, 93, 126);
  background-color: rgb(35, 93, 126);
}
